{{#if userName}}
  <p>{{userName}} is logged in</p>
  <button{{action "logout"}}>Logout</button>
{{else}}
  <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title" id="myModalLabel">Set your User Name</h4>
     </div>
     <div class="modal-body">
       <div class="input-group">
         {{input value=name placeholder="User Name"}}
       </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal" {{action "setUserName" }}>
         Save
       </button>
     </div>
   </div>
  </div>
{{/if}}
