<ul>
  {{#each model as |room|}}
  <a href="" class="rooms">
    <li>{{#link-to "rooms.room" room}}{{room.name}}{{/link-to}}</li>
  </a>
  {{/each}}
</ul>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create New Room</h4>
      </div>
      <div class="modal-body">
        Enter a room name
        <div class="input-group">
          <!-- <input type="text" class="form-control" action="newChatRoom" aria-describedby="basic-addon1"> -->
          {{input value=name placeholder="Room Name"}}
          {{#each name as |room|}}
            <div>{{room}}</div>
          {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" {{action "newChatRoom" }}>Create Room</button>
      </div>
    </div>
  </div>
</div>

<div class="chatroom">
  <p>Welcome to {{room.name}}</p>
  <!-- <div class="messages">
    <ul>
      {{#each name in room}}
        <li>{{#link-to "room2" room}}{{room.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div> -->
</div>
<div>
  {{outlet}}
</div>
